.odd {
    font-family: verdana, "DejaVu Sans", sans-serif;
    color: black;
    background: peachpuff;
    font-size: 26px;
}

.adjust-1 {
    font-size: 30px;
    background-color: aquamarine;
}

#even {
    font-size: 26px;
    text-align: center;
    background: rgb(252, 194, 108);
    color: black;
}

#adjust-2 {
    font-size: 30px;
    background: rgb(255, 132, 208);
    text-align: center;
}